<div class="row">
    <?php if($this->error_str){?>
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissable">
                <?php echo $this->error_str; ?>
            </div>
        </div>
    <?php }?>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="box">
            <div class="box-body">
                <form action="<?= $this->system_url ?>/BusinessCategory.php?method=save" method="post">
                    <?php if($this->category !=null && isset($this->category['category_id'])) {?>
                        <input type="hidden" name="category_id" value="<?=$this->category['category_id']?> ">
                    <?php }?>
                    <div class="form-group">
                        <label for=""><?=gettext("Name")?></label>
                        <input type="text" class="form-control" name="name" value="<?=$this->category !=null?$this->category["name"] :''?>">
                    </div>
                    <button type="submit" class="btn btn-primary"><?= gettext('Save') ?></button>   
                </form>
            </div>   
        </div> 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="box">
            <div class="box-body">
                <table class="table table-condensended">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th><?php echo gettext("Category")?></th>
                            <th style="width:150px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php if( $this->lista !=null){?>
                            <?php foreach($this->lista as $l){?>
                                <tr>
                                    <td><?=$l["category_id"]?></td>
                                    <td><?=$l["name"]?></td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="...">
                                            <a href="BusinessCategory.php?id=<?=$l["category_id"]?>" type="button" class="btn btn-primary btn-sm"><?=gettext("Edit")?></a>
                                            <a type="button" data-link_del="BusinessCategory.php?category_id=<?=$l['category_id']?>"class="btn btn-danger btn-sm remove-cat"><?=gettext("Delete")?></a>
                                        </div>
                                    </td>
                                </tr>
                            <?php }?>
                        <?php } else {?>
                            <tr>
                                <td>
                                    <?php echo gettext("Category not found")?>
                                </td>
                            </tr>
                        <?php } ?>

                    </tbody>
                </table>
            </div>    
        </div>    
    </div>
</div>
<div class="modal fade" id="modal-category" tabindex="-1" role="dialog" aria-labelledby="delete-Image-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="delete-Image-label"><?= gettext('Confirm Delete') ?></h4>
            </div>

            <div class="modal-body">
                <div id="conteudo-modal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?= gettext("Cancel") ?></button>
                <a href="" class="btn btn-danger danger" id="deletePhoto"><?= gettext("Delete") ?></a>
            </div>
        </div>
    </div>
</div>

<script nonce="<?= $this->cspnonce; ?>">
$(function() {
    $(document).ready( function() {
        $(".remove-cat").click(function(e){
            console.log(e)
            var link = $(this).data('link_del');
            var modal_content = $("#conteudo-modal");
            var el_modal = $("#modal-category");
            var fullContent = $("#full-content");
            var href_remove = $("#deletePhoto");
            el_modal.modal('show')
            var html ='';

            html +="<p><?= gettext('You are about to delete the logo, this procedure is irreversible.') ?></p><p><?= gettext('Do you want to proceed?') ?></p>";

            el_modal.on('hidden.bs.modal', function (e) {
                modal_content.html('')
            });
            
            el_modal.on('shown.bs.modal', function (e) {
                modal_content.html(html);
                href_remove.attr("href", link+'&method=delete');
            });
        
        });
    });
});
</script>