<style>
.btn-file {
    position: relative;
    overflow: hidden;
    margin:15px;
    display:block;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>

<?php if($this->person) {?>

<form method="post" enctype="multipart/form-data" action="<?= $this->system_url ?>/PersonNewBusiness.php?PersonID=<?= $person['per_ID']?>&method=save">
    <input type="hidden" name="person_id" value="<?=$this->person['per_ID']?>" />
    <?php if($this->person_business !=null) {?>
        <input type="hidden" name="id" value="<?=$this->person_business['id']?>" />
    <?php }?>
    <div class="row">
        <?php if($this->error_str){?>
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissable">
                    <?php echo $this->error_str; ?>
                </div>
            </div>
        <?php }?>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="box">
                <div class="box-body">
                    <div class="form-group">
                        <label for=""><?=gettext("Name")?></label>
                        <input type="text" class="form-control" name="name" value="<?=$this->person_business !=null?$this->person_business["name"] :''?>">
                    </div>
                    <div class="form-group">
                        <label for=""><?=gettext("Phone")?></label>
                        <input type="text" class="form-control" name="phone"value="<?=$this->person_business !=null?$this->person_business["phone"] :''?>">
                    </div>
                    <div class="form-group">
                        <label for=""><?=gettext("Site")?></label>
                        <input type="text" class="form-control" name="site" value="<?=$this->person_business !=null?$this->person_business["site"] :''?>">
                    </div>
                    <div class="form-group">
                        <label for=""><?=gettext("Description")?></label>
                        <input type="text" class="form-control" name="description" value="<?=$this->person_business !=null?$this->person_business["description"] :''?>">
                    </div>
                    <button type="submit" class="btn btn-primary"><?= gettext('Save') ?></button>   
                </div>   
            </div> 
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">

            <div class="box">
                <div class="box-body">
                    <h4> <?php echo gettext("Categories")?> </h4>
                    <div class="form-group">
                        <select name="category_id" class="form-control">
                            <option ><?php echo gettext("Select a category")?></option>
                            <?php foreach ($this->categories as $category) {
                                $selected=$this->person_business !=null && $this->person_business["category_id"] ==$category["category_id"] ? 'selected="selected"':'';
                                ?>
                                <option value="<?=$category["category_id"]?>" <?=$selected?> ><?=$category["name"]?></option>
                            <?php } ?>
                            }?>
                        </select>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-body">
                <?php if($this->person_business !=null && $this->person_business["logo"] !=null) { ?>
                    <img src="<?= $this->person_business["logo"]?>" class="img-responsive" />
                    <a href="#" data-toggle="modal" data-target="#confirm-delete-image"  class="btn btnn-primary btn-block"><?=gettext("Remove Logo")?></a>   
                <?php } else {?>
                    <img src="" id="img-preview" class="img-responsive" style="display:none"/>
                    <label class="btn btn-default btn-file">
                        <?php echo gettext("Logo")?> <input type="file" name="logo" id="logo" style="display: none;">
                    </label>
                <?php }?> 
                <div class="clearfix"></div>
                </div>    
            </div>    
        </div>
    </div>
</form>

<div class="modal fade" id="confirm-delete-image" tabindex="-1" role="dialog" aria-labelledby="delete-Image-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="delete-Image-label"><?= gettext('Confirm Delete') ?></h4>
            </div>

            <div class="modal-body">
                <p><?= gettext('You are about to delete the logo, this procedure is irreversible.') ?></p>

                <p><?= gettext('Do you want to proceed?') ?></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?= gettext("Cancel") ?></button>
                <a href="<?= $this->system_url ?>/PersonNewBusiness.php?PersonID=<?= $this->person['per_ID']?>&method=delete" class="btn btn-danger danger" id="deletePhoto"><?= gettext("Delete") ?></a>
            </div>
        </div>
    </div>
</div>

<?php } else {
    echo '<p>'.gettext("Error. Person not found").'<p>';
} ?>
<script nonce="<?= $this->cspnonce; ?>">

$(function() {

    // We can attach the `fileselect` event to all file inputs on the page
    // $(document).on('change', ':file', function() {
    // var input = $(this),
    //     numFiles = input.get(0).files ? input.get(0).files.length : 1,
    //     label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    //     input.trigger('fileselect', [numFiles, label]);
    // });

    // // We can watch for our custom `fileselect` event like this
    // $(document).ready( function() {
    //     $(':file').on('fileselect', function(event, numFiles, label) {
    //         var input = $(this).parents('.input-group').find(':text'),
    //             log = numFiles > 1 ? numFiles + ' files selected' : label;

    //         if( input.length ) {
    //             input.val(log);
    //         } else {
                
    //         }
    //     });
    // });
    $("#logo").change(function(ev){
        var image = new FileReader();
        image.onload = function (e) {
            $("#img-preview").css({'display':'block'});
            $("#img-preview").attr('src', e.target.result);
        }
        image.readAsDataURL(ev.target.files[0]);

    });

});
</script>