.navbar{height: 50px}
.logo {height: 100px !important; padding: 0 !important;border-right: 1px solid #ccc;} 
button.dt-button, div.dt-button, a.dt-button{background: #3c8dbc !important;    border-color: #367fa9 !important; color: #fff; border-radius: 15px}
.dataTables_wrapper .dataTables_filter input{border:1px solid #ccc; padding: 5px}
.dt-buttons{margin-bottom: 20px}
.dataTables_length{margin-top: 10px}
button, input, select, textarea{padding: 10px !important;     line-height: normal !important;}
.box-header{background-color: #3c8dbc2e !important}
.form-control{height: 40px !important}
.main-header .logo .logo-lg{background-color: #fff}