<div class="row">
<?php if($success){?>
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissable">
            <?php echo $success; ?>
        </div>
    </div>
<?php }?>

</div>