<div class="row">
    <?php if($error_str){?>
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissable">
                <?php echo $error_str; ?>
            </div>
        </div>
    <?php } ?>
    <form  action="<?=$finance_url?>save" method="post">
        <?php if($finance !=null && isset($finance['finance_id'])) {?>
            <input type="hidden" name="finance_id" value="<?=$finance['finance_id']?> ">
        <?php }?>
        <div class="col-md-8 col-lg-8">
            <div class="box box-primary">
                <div class="box-body">
                
                    <div class="form-group">
                        <label for=""><?=gettext("Description")?></label>
                        <input type="text" class="form-control" name="description" value="<?=$finance["description"]?>" id="description">
                    </div>
                    <div class="form-group">
                        <label for=""><?=gettext("Amount")?></label>
                        <input type="number" min="0" step="any" class="form-control" value="<?=$finance["amount"]?>" name="amount" id="amount">
                    </div>
                    <div class="form-group">
                        <label for=""><?=gettext("Date")?></label>
                        <input type="text" class="form-control" name="date" id="finance_date" value="<?=$finance["date"]?>">
                    </div>
                    <button type="submit" class="btn btn-primary"><?= gettext('Save') ?></button>   
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">

            <div class="box box-primary">
                
                <div class="box-body">
                    <h4> <?php echo gettext("Categories")?> </h4>
                    <div class="form-group">
                        <select name="category_id" class="form-control">
                            <option ><?php echo gettext("Select a category")?></option>
                            <?php foreach ($categories as $category) {
                                $selected=$finance !=null && $finance["category_id"] ==$category["id"] ? 'selected="selected"':'';
                                ?>
                                <option value="<?=$category["id"]?>" <?=$selected?> ><?=gettext($category["name"])?></option>
                            <?php } ?>
                            }?>
                        </select>
                    </div>
                    <h4> <?php echo gettext("Finance Type")?> </h4>
                    <div class="form-group">
                        <select name="type" class="form-control">
                            <option ><?php echo gettext("Select a type of finance")?></option>
                            <?php foreach ($finace_type as $k=>$type) {
                                $selected=$finance !=null && $finance["type"] ==$k ? 'selected="selected"':'';
                                ?>
                                <option value="<?=$k?>" <?=$selected?> ><?=gettext($type)?></option>
                            <?php } ?>
                            }?>
                        </select>
                    </div>        
                </div>
            </div>
        </div>
    </form>
</div>

<script nonce="<?= $cspnonce; ?>">
$(document).ready(function(){
    $("#finance_date").datepicker({format: 'yyyy-mm-dd', language: window.CRM.lang}).datepicker("setDate", new Date());
});
</script>