<?php use ChurchCRM\dto\SystemConfig; ?>
<?php if($success){?>
    <div class="col-md-12">
        <div class="row">
            <div class="alert alert-success alert-dismissable">
                <?php echo $success; ?>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
<?php } ?>
<div class="box box-primary">
    <div class="box-header">
        <div class="pull-left">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="term" name="term" placeholder="<?=_("Search")?>">
            </div>
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </form>
        </div>
        <span class="pull-right">
            <a href="<?=$finance_url?>add" class="btn btn-sm btn-primary" title="<?= _("New")?>"><?= _("New")?></a>
        </span>
    </div>
    <div class="box-body">
        
        <div class="responsive-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <?=_("Description")?>
                        </th>
                        <th><?=_("Amount")?></th>
                        <th><?=_("Category")?></th>
                        <th><?=_("Date")?></th>
                        <th><?=_("Type")?></th>
                        <th><?=_("Actions")?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($list as $item){ ?>
                    <tr>
                        <td>
                            <?=$item["description"]?>
                        </td>
                        <td><?=$item["amount"]?></td>
                        <td><?=$item["name"]?></td>
                        <td><?=date(SystemConfig::getValue('sDateFormatShort'), strtotime($item["date"]))?></td>
                        <td><?=$item["type"] !=null &&  isset($finace_type[$item["type"]])? $finace_type[$item["type"]]:''?></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="">
                                <a href="<?=$finance_url .'add?id='.$item["finance_id"]?>" type="button" class="btn btn-primary btn-xs"><?=gettext("Edit")?></a>
                                <a type="button" data-link_del="<?=$finance_url.'delete/'.$item['finance_id']?>" class="btn btn-danger btn-xs remove-finance"><?=gettext("Delete")?></a>
                            </div>
                        </td>
                    </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
        <?php 
            if($max_page && $count){ 
            $range = 2;
            $showitems = ($range * 1)+1;

            ?>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <?php for($i=1; $i<=$max_page; $i++){
                        if (1 != $max_page &&( !($i >= $current_page+$range+1 || $i <= $current_page-$range-1) || $max_page <= $showitems )){
                        ?>
                            <li class="<?php echo $i ==$current_page ? 'active':'' ?>"><a href="<?=$link_page.$i?>"> <?=$i?>  </a></li>
                        <?php } 
                    }?>
                    <?php if($current_page !=$max_page && $current_page   < ($max_page  - 1)) {?>
                        <li>
                            <a href="<?=$link_page.$max_page?>">
                                <span aria-hidden="true">...<?=$max_page?></span>
                            </a>
                        </li>
                    <?php } ?>
                </ul>
            </nav>
        <?php }?>
    </div>
</div>
<div class="modal fade" id="modal-category" tabindex="-1" role="dialog" aria-labelledby="delete-Image-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="delete-Image-label"><?= gettext('Confirm Delete') ?></h4>
            </div>

            <div class="modal-body">
                <div id="conteudo-modal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?= gettext("Cancel") ?></button>
                <a href="" class="btn btn-danger danger" id="deletePhoto"><?= gettext("Delete") ?></a>
            </div>
        </div>
    </div>
</div>
<script nonce="<?= $cspnonce; ?>">
$(function() {
    $(document).ready( function() {
        $(".remove-finance").click(function(e){
            
            var link = $(this).data('link_del');
            var modal_content = $("#conteudo-modal");
            var el_modal = $("#modal-category");
            var fullContent = $("#full-content");
            var href_remove = $("#deletePhoto");
            el_modal.modal('show');
            var html ='';

            html +="<p><?= gettext('You are about to delete the finance, this procedure is irreversible.') ?></p><p><?= gettext('Do you want to proceed?') ?></p>";

            el_modal.on('hidden.bs.modal', function (e) {
                modal_content.html('');
            });
            
            el_modal.on('shown.bs.modal', function (e) {
                modal_content.html(html);
                href_remove.attr("href", link);
            });
        
        });
    });
});
</script>