<?php use ChurchCRM\dto\SystemConfig; ?>
<div class="box box-primary">
<?php if($filtered){ ?>
    <div class="box-header">
        <a href="<?=$finance_url?>report" class="btn btn-sm btn-primary" title="<?= _("Back")?>"><?= _("Back")?></a>
        <div class="btn-group pull-right float-right" role="group" aria-label="">
            <a href="?<?=$self_link?>&pdf=1" type="button" class="btn btn-primary "><?=gettext("PDF")?></a>
            <a type="button" class="btn btn-danger export-finance"><?=gettext("CSV")?></a>
        </div>
    </div>
<?php } ?>
    <div class="box-body">
        <?php if(!$filtered){ ?>
            <form>
                <div class="form-group col-md-12">
                    <label for=""><?=gettext("Description")?></label>
                    <input type="text" class="form-control" name="description" id="description" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label for=""><?=gettext("Date initial")?></label>
                    <input type="text" class="form-control" name="date_ini" id="date_ini" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label for=""><?=gettext("Date end")?></label>
                    <input type="text" class="form-control" name="date_end" id="date_end" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                    <label for=""><?=gettext("Category")?></label>
                    <select class="form-control" name="category_id" id="category_id">
                        <option value="" selected="selected"><?=_("Select a category")?></option>
                        <?php foreach($categories as $category) {?>
                            <option value="<?=$category["id"]?>"><?=$category["name"]?></option>
                        <?php }?>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for=""><?=gettext("Type")?></label>
                    <select class="form-control" name="type" id="type">
                        <option value="" selected="selected"><?=_("Select a type")?></option>
                        <?php foreach($finace_type as $key=>$type) {?>
                            <option value="<?=$key?>"><?=$type?></option>
                        <?php }?>
                    </select>
                </div>
                <div class="form-group col-md-2 pt-4">
                    <button type="submit" class="btn btn-primary btn-block"><?=gettext("Send")?></button>
                </div>
            </form>
        <?php } else { ?>
            <div class="table-responsive">
                <table class="table table-condensed" style="margin-bottom:0">
                    <thead>
                        <tr>
                            <th><?=_("Description")?></th>
                            <th><?=_("Amount")?></th>
                            <th><?=_("Category")?></th>
                            <th><?=_("Date")?></th>
                            <th><?=_("Type")?></th>
                            <th><?=_("Created At")?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($result as $item){ ?>
                        <tr>
                            <td><?=$item["description"];?></td>
                            <td><?=$item["amount"]?></td>
                            <td><?=$item["category_name"]?></td>
                            <td><?=date(SystemConfig::getValue('sDateFormatShort'), strtotime($item["date"]))?></td>
                            <td><?=$item["type"] !=null &&  isset($finace_type[$item["type"]])? $finace_type[$item["type"]]:''?></td>
                            <td><?=date(SystemConfig::getValue('sDateTimeFormat'), strtotime($item["created_at"]))?></td>
                        </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
            <?php foreach($finace_type as $key=>$tp){?>
                <div class="col-md-6">
                    <h2 class="text-center"><?=$tp?></h2>
                    <div style="height: 300px; width: 100%;">
                        <canvas id="el-<?=$key?>" style="width: 100%;"></canvas>
                    </div>
                </div>
            <?php } ?>
        <?php } ?>
    </div>
</div>
<script src="<?= $system_url ?>/skin/external/chartjs/Chart-v2.min.js"></script>
<script nonce="<?= $cspnonce; ?>">
    $(document).ready(function(){
        $("#date_ini").datepicker({format: 'yyyy-mm-dd', language: window.CRM.lang});
        $("#date_end").datepicker({format: 'yyyy-mm-dd', language: window.CRM.lang}); 
    

    <?php if($filtered){ ?>
        var data_result =<?php echo json_encode($result) ?>;
        var type = <?php echo json_encode($finace_type)?>;
        
            
        $(".export-finance").click(function(e){
            e.preventDefault();
            if(data_result.length>0){
                var items = [];

                data_result.map(function(item){
                    items.push({
                        category:item.category_name,
                        type:type[item.type],
                        amount:item.amount,
                        date:item.date,
                        description:item.description
                    });
                });
                

                var replacer = function(key, value){ return value === null ? '' : value}; 
                var header = Object.keys(items[0]);
                var csv = items.map(function(row){
                    return header.map(function(fieldName){
                        
                        return JSON.stringify(row[fieldName], replacer)
                    }).join(';');
                });
                csv.unshift(header.join(';'));
                csv = csv.join('\r\n');
                var link = document.createElement('a');

                var file = new Blob(["\ufeff", csv]);
                var fileURL = window.URL.createObjectURL(file);
                var data = new Date()
                var filename = data.getDate()+'-'+data.getMonth()+1+'-'+data.getFullYear()+'-'+data.getTime()+'.csv';
                link.href = fileURL;
                link.download = filename;
                link.click();
            }
        });
    
        if(data_result.length>0){
            var group_category_type={};
            var color_type={
                1:{
                    borderColor: 'rgba(9, 132, 227,1.0)',
                    backgroundColor:"rgba(9, 132, 227,1.0)"
                },
                2:{
                    borderColor: 'rgba(255, 121, 121,1.0)',
                    backgroundColor: 'rgba(255, 121, 121,1.0)',
                }     
            }
            for(var i in data_result){
                if(typeof group_category_type[data_result[i].type] =='undefined'){
                    group_category_type[data_result[i].type] ={
                        name:type[data_result[i].type],
                        id:data_result[i].type,
                        category:[]
                    }
                }
                group_category_type[data_result[i].type].category.push(data_result[i]);
            }
            for(var c in group_category_type){
                renderChart('el-'+group_category_type[c].id, group_category_type[c].category, group_category_type[c].name, color_type[group_category_type[c].id]);
            }

            function renderChart(el, data, title, colors){
                var labels=[], dataset=[], group_by_category={};
                for(var i in data){
                    if(typeof group_by_category[data[i].category_id] =='undefined'){
                        group_by_category[data[i].category_id]={
                            name:data[i].category_name,
                            total:0
                        }
                    }
                    group_by_category[data[i].category_id].total += parseFloat(data[i].amount);
                }
                

                for(var d in group_by_category){
                    labels.push(group_by_category[d].name);
                    dataset.push(group_by_category[d].total);
                }
                window.chartjs_conf= {}
                if(typeof window.chartjs_conf[el] !='undefined'){
                    window.chartjs_conf[el].destroy()
                }
                if(typeof window.chartjs_conf[el] =='undefined'){
                    window.chartjs_conf[el] = ''
                }  
                var _el = document.getElementById(el)
                var ctx = _el.getContext("2d");
                var _dataset = Object.assign({
                                label: title,
                                data: dataset,
                                pointRadius: 4,
                                fill: false,
                            }, colors );
                        
                window.chartjs_conf[el] = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [_dataset]
                    },
                    options: {
                        legend: false,
                        layout: {
                            padding: 20
                        },
                        maintainAspectRatio: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    display:false,
                                    steps: 40,
                                    min: 0,
                                    stepSize: 1000,
                                    beginAtZero:true
                                }
                            }]
                        }
                    },
                    plugins: [{
                        afterDatasetsDraw: function (chart) {
                            var ctx = chart.ctx;
                            chart.data.datasets.forEach(function (dataset, i) {
                                var receita = chart.getDatasetMeta(i);
                                var line_data = chart.config.data.datasets;
                                if (!receita.hidden) {
                                    receita.data.forEach(function (element, index) {
                                        ctx.fillStyle = ctx.fillStyle = 'rgb(102,102,102)';
                                        ctx.font = Chart.helpers.fontString(10, "normal", "sans-serif");
                                        var dataString = dataset.data[index].toString();
                                        ctx.textAlign = 'center';
                                        ctx.textBaseline = 'middle';
                                        var padding = -10;
                                        var position = element.tooltipPosition();
                                        ctx.fillText(dataString, position.x , position.y+ padding );
                                    });
                                }
                            });
                        }
                    }],
                });
            }
        }

    <?php } ?>  
});     
</script>