<?php $this->extend('layout'); ?>

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><?=_("Home")?></li>
                </ol>
            </div>
            <h4 class="page-title"><?=_("Packages")?></h4>
        </div>
    </div>
</div>
<div class="row">
    <?php foreach($list as $l){?>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="pricingTable1 text-center">
                    <h6 class="title1 py-3 m-0"><?=$l["description"]?></h6>
                    <!--<p class="text-muted p-3 mb-0">It is a long established fact that a reader will be distracted by the readable.</p>-->
                    <div class="text-center py-4">
                        <h3 class="amount">$<?=$l["price"]?><small class="font-12 text-muted">/<?=_("Members")?></small></h3>
                    </div>
                    <ul class="list-unstyled pricing-content-2 py-3 border-0">
                        <li><?=$l["total_members"] . ' '. _("Members")?></li>
                        <!--<li>30 Email Accounts</li>
                        <li>30GB Monthly Bandwidth</li>
                        <li>06 Subdomains</li>
                        <li>10 Domains</li>-->
                    </ul>
                </div><!--end pricingTable-->
            </div><!--end card-body-->
        </div> <!--end card-->                                   
    </div><!--end col-->
    <?php } ?>
</div>