<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><?=isset($title) ? $title: $this->title;?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="church" name="webholding" />
        <!-- App css -->
        <link href="<?=assets('css')?>/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="<?=assets('css')?>/icons.css" rel="stylesheet" type="text/css" />
        <link href="<?=assets('css')?>/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="<?=assets('css')?>/style.css" rel="stylesheet" type="text/css" />
        <?=$this['css']?>
    </head>
<body>
    
    <!-- Top Bar Start -->
    <div class="topbar">

<!-- LOGO -->
        <div class="topbar-left">
            <a href="<?=url()?>" class="logo">
                <h3>Painel</h3>
            </a>
        </div>
        <!--end logo-->
        <!-- Navbar -->
        <nav class="navbar-custom">    
            <ul class="list-unstyled topbar-nav float-right mb-0"> 
                <!-- <li class="hidden-sm">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="javascript: void(0);" role="button"
                        aria-haspopup="false" aria-expanded="false">
                        English <img src="<?=assets("images")?>/flags/us_flag.jpg" class="ml-2" height="16" alt=""/> <i class="mdi mdi-chevron-down"></i> 
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript: void(0);"><span> German </span><img src="<?=assets("images")?>/flags/germany_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>
                        <a class="dropdown-item" href="javascript: void(0);"><span> Italian </span><img src="<?=assets("images")?>/flags/italy_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>
                        <a class="dropdown-item" href="javascript: void(0);"><span> French </span><img src="<?=assets("images")?>/flags/french_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>
                        <a class="dropdown-item" href="javascript: void(0);"><span> Spanish </span><img src="<?=assets("images")?>/flags/spain_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>
                        <a class="dropdown-item" href="javascript: void(0);"><span> Russian </span><img src="<?=assets("images")?>/flags/russia_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>
                    </div>
                </li> -->

                <!--<li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="false" aria-expanded="false">
                        <i class="dripicons-bell noti-icon"></i>
                        <span class="badge badge-danger badge-pill noti-icon-badge">2</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                        
                        <h6 class="dropdown-item-text">
                            Notifications (18)
                        </h6>
                        <div class="slimscroll notification-list">
                            
                            <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                <p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                            </a>
                            
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                <p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>
                            </a>
                            
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info"><i class="mdi mdi-glass-cocktail"></i></div>
                                <p class="notify-details">Your item is shipped<small class="text-muted">It is a long established fact that a reader will</small></p>
                            </a>
                            
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                <p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                            </a>
                            
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-danger"><i class="mdi mdi-message"></i></div>
                                <p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>
                            </a>
                        </div>
                        
                        <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                            View all <i class="fi-arrow-right"></i>
                        </a>
                    </div>
                </li>-->

                <li class="dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="false" aria-expanded="false">
                        <img src="<?=assets("images")?>/users/user-4.jpg" alt="profile-user" class="rounded-circle" /> 
                        <span class="ml-1 nav-user-name hidden-sm"><?=$this->user->name?> <i class="mdi mdi-chevron-down"></i> </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- <a class="dropdown-item" href="#"><i class="dripicons-user text-muted mr-2"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="dripicons-wallet text-muted mr-2"></i> My Wallet</a>
                        <a class="dropdown-item" href="#"><i class="dripicons-gear text-muted mr-2"></i> Settings</a>
                        <a class="dropdown-item" href="#"><i class="dripicons-lock text-muted mr-2"></i> Lock screen</a> 
                        <div class="dropdown-divider"></div>-->
                        <a class="dropdown-item" href="<?=url('login/logout')?>"><i class="dripicons-exit text-muted mr-2"></i><?=_("Logout")?></a>
                    </div>
                </li>
            </ul><!--end topbar-nav-->

            <ul class="list-unstyled topbar-nav mb-0">                        
                <li>
                    <button class="button-menu-mobile nav-link waves-effect waves-light">
                        <i class="dripicons-menu nav-icon"></i>
                    </button>
                </li>
                <!-- <li class="hide-phone app-search">
                    <form role="search" class="">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href=""><i class="fas fa-search"></i></a>
                    </form>
                </li> -->
            </ul>
        </nav>
        <!-- end navbar-->
        </div>
        <!-- Top Bar End -->

        <div class="page-wrapper">
        <!-- Left Sidenav -->
        <div class="left-sidenav">
            <div class="main-icon-menu">
                <nav class="nav">
                    <a href="#MetricaAnalytic" class="nav-link active" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="Analytics">
                        <svg class="nav-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <path d="M184,448h48c4.4,0,8-3.6,8-8V72c0-4.4-3.6-8-8-8h-48c-4.4,0-8,3.6-8,8v368C176,444.4,179.6,448,184,448z"/>
                                <path class="svg-primary" d="M88,448H136c4.4,0,8-3.6,8-8V296c0-4.4-3.6-8-8-8H88c-4.4,0-8,3.6-8,8V440C80,444.4,83.6,448,88,448z"/>
                                <path class="svg-primary" d="M280.1,448h47.8c4.5,0,8.1-3.6,8.1-8.1V232.1c0-4.5-3.6-8.1-8.1-8.1h-47.8c-4.5,0-8.1,3.6-8.1,8.1v207.8
                                    C272,444.4,275.6,448,280.1,448z"/>
                                <path d="M368,136.1v303.8c0,4.5,3.6,8.1,8.1,8.1h47.8c4.5,0,8.1-3.6,8.1-8.1V136.1c0-4.5-3.6-8.1-8.1-8.1h-47.8
                                    C371.6,128,368,131.6,368,136.1z"/>
                            </g>
                        </svg>
                    </a><!--end MetricaAnalytic-->
                </nav><!--end nav-->
            </div><!--end main-icon-menu-->

            <div class="main-menu-inner active">
                <div class="menu-body slimscroll">
                    <div id="MetricaAnalytic" class="main-icon-menu-pane active">
                        <div class="title-box">
                            <h6 class="menu-title"><?=_("Packages")?></h6>       
                        </div>
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link" href="<?=url()?>"><i class="dripicons-meter"></i><?=_("Home")?></a></li>
                            <li class="nav-item"><a class="nav-link" href="<?=url("list")?>"><i class="dripicons-user-group"></i><?=_("List")?></a></li>
                            <li class="nav-item"><a class="nav-link" href="<?=url("add")?>"><i class="dripicons-document"></i><?=_("Add")?></a></li> 
                        </ul>
                    </div><!-- end Analytic -->
         
                </div><!--end menu-body-->
            </div><!-- end main-menu-inner-->
        </div>
        <!-- end left-sidenav-->

        <!-- Page Content-->
        <div class="page-content">

            <div class="container-fluid">
                <!-- Page-Title -->
                
                <!-- end page title end breadcrumb -->
                <?=$this['content'] ?>

            </div><!-- container -->

            <footer class="footer text-center text-sm-left">
                &copy; 2019 ChurchCRM <span class="text-muted d-none d-sm-inline-block float-right"></span>
            </footer><!--end footer-->
        </div>
        <!-- end page content -->
        </div>
        <!-- end page-wrapper -->



    <!-- jQuery  -->
    <script src="<?=assets('js')?>/jquery.min.js"></script>
    <script src="<?=assets('js')?>/bootstrap.bundle.min.js"></script>
    <script src="<?=assets('js')?>/metisMenu.min.js"></script>
    <script src="<?=assets('js')?>/waves.min.js"></script>
    <script src="<?=assets('js')?>/jquery.slimscroll.min.js"></script>

    <!-- App js -->
    <script src="<?=assets('js')?>/app.js"></script>
    <?=$this['js']?>
</body>
</html>