<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><?=$title?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="church" name="webholding" />
        <!-- App css -->
        <link href="<?=assets('css')?>/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="<?=assets('css')?>/icons.css" rel="stylesheet" type="text/css" />
        <link href="<?=assets('css')?>/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="<?=assets('css')?>/style.css" rel="stylesheet" type="text/css" />

    </head>

    <body class="account-body accountbg">

        <!-- Log In page -->
        <div class="row vh-100 ">
            <div class="col-12 align-self-center">
                <div class="auth-page">
                    <div class="card auth-card shadow-lg">
                        <div class="card-body">
                            <div class="px-3">
                                <div class="text-center auth-logo-text">
                                    <h4 class="mt-0 mb-3 mt-5"><?=_("Manager")?></h4>
                                    <p class="text-muted mb-0"><?=_("Sign in to continue.")?></p>  
                                </div> <!--end auth-logo-text-->  
                                <?php if($erro_login !=null){?>
                                <div class="alert icon-custom-alert alert-outline-pink b-round fade show" role="alert">                                            
                                    <i class="mdi mdi-alert-outline alert-icon"></i>
                                    <div class="alert-text">
                                        <strong><?=_("Error")?>!</strong> <?=$erro_login?>
                                    </div>
                                    
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="mdi mdi-close text-danger"></i></span>
                                        </button>
                                    </div>
                                </div>  
                                <?php } ?>
                                <form class="form-horizontal auth-form my-4" action="<?=url('login/run')?>" method="POST">
                                    <div class="form-group">
                                        <label for="username"><?=_("Username")?></label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-user"></i> 
                                            </span>                                                                                                              
                                            <input type="text" class="form-control" name="username" id="username" placeholder="<?=_("Enter username")?>">
                                        </div>                                    
                                    </div><!--end form-group--> 
        
                                    <div class="form-group">
                                        <label for="userpassword"><?=_("Password")?></label>                                            
                                        <div class="input-group mb-3"> 
                                            <span class="auth-form-icon">
                                                <i class="dripicons-lock"></i> 
                                            </span>                                                       
                                            <input type="password" class="form-control" name="password" id="password" placeholder="<?=_("Enter password")?>">
                                        </div>                               
                                    </div><!--end form-group--> 
                                    <div class="form-group mb-0 row">
                                        <div class="col-12 mt-2">
                                            <button class="btn btn-primary btn-round btn-block waves-effect waves-light" type="submit"><?=_("Log In")?> <i class="fas fa-sign-in-alt ml-1"></i></button>
                                        </div><!--end col--> 
                                    </div> <!--end form-group-->                           
                                </form><!--end form-->
                            </div><!--end /div-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end auth-page-->
            </div><!--end col-->           
        </div><!--end row-->
        <!-- End Log In page -->
    

        <!-- jQuery  -->
        <script src="<?=assets('js')?>/jquery.min.js"></script>
        <script src="<?=assets('js')?>/bootstrap.bundle.min.js"></script>
        <script src="<?=assets('js')?>/metisMenu.min.js"></script>
        <script src="<?=assets('js')?>/waves.min.js"></script>
        <script src="<?=assets('js')?>/jquery.slimscroll.min.js"></script>

        <!-- App js -->
        <script src="<?=assets('js')?>/app.js"></script>

    </body>
</html>