<?php $this->extend('layout'); ?>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="<?=url()?>"><?=_("Home")?></a></li>
                    <li class="breadcrumb-item active"><?=_("List")?></li>
                </ol>
            </div>
            <h4 class="page-title"><?=_("List")?></h4>
        </div>

        <?php if($success !=null){?>
            <div class="alert icon-custom-alert alert-outline-success alert-success-shadow" role="alert">
                <i class="mdi mdi-check-all alert-icon"></i>
                <div class="alert-text">
                    <strong><?=_("Well done")?>!</strong> <?=$success?>
                </div>                  
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                </button>                          
            </div>
        <?php }?>
    </div>

    <div class="card" style="width:100%">
        <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered mb-0 table-centered">
                <thead>
                <tr>
                    <th><?=_("Package ID")?></th>
                    <th><?=_("Description")?></th>
                    <th><?=_("Price")?></th>
                    <th><?=_("Status")?></th>
                    <th class="text-right" style="width:200px"><?=_("Action")?></th>
                </tr>
                </thead>
                <tbody>
                    <?php foreach($list as $l){?>
                    <tr>
                        <td><?=$l["package_id"]?></td>
                        <td><?=$l["description"]?></td>
                        <td><?=$l["price"]?></td>
                        <td>
                        <span class="badge  <?=$l["status"]==1 ?"badge-soft-success":"badge-soft-danger" ?>"><?=$l["status"]==0 ?_("Inactive"):_("Active") ?></span>
                        </td>
                        <td class="text-right">
                            <div class="btn-group " role="group" aria-label="Basic example">
                                <a class="btn btn-xs btn-primary" href="<?=url('add').'?id='.$l["package_id"]?>"><i class="fas fa-edit"></i> <?=_("Edit")?></a>
                                <a class="btn btn-xs remove-pakage  <?=$l["status"]==1 ?"btn-success":"btn-danger" ?>" href="javascript:void()" data-text_status="<?=$l["status"]==1 ?_("Inactive"):_("Active") ?>" data-link_del="<?=url('status').'/'.$l["package_id"]?>/<?=$l["status"]==1?0:1?>"><i class="fas fa-trash-alt"></i> <?=$l["status"]==1 ?_("Inactivate"):_("Activate") ?></a>
                            </div>
                        </td>
                    </tr>
                    <?php }?>
                </tbody>
            </table><!--end /table-->
        </div><!--end /tableresponsive-->
        </div>
    </div>        

</div>

<div class="modal fade bs-example-modal-center" tabindex="-1" id="modal-category" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="exampleModalLabel"><?= gettext('Confirm') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="conteudo-modal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?= gettext("Cancel") ?></button>
                <a href="" class="btn btn-danger danger" id="update-package"><?= gettext("Continue") ?></a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<?php $this->block('js') ?>

<script>
$(function() {
    $(document).ready( function() {
        $(".remove-pakage").click(function(e){
            e.preventDefault();
            var link = $(this).data('link_del');
            var text_status = $(this).data('text_status');
            var modal_content = $("#conteudo-modal");
            var el_modal = $("#modal-category");
            var fullContent = $("#full-content");
            var href_remove = $("#update-package");
            el_modal.modal('show');
            var html ='';
            console.log(link)
            html +="<p><?= gettext('Are you sure you want to change the status to ') ?> "+text_status+" </p><p><?= gettext('Do you want to proceed?') ?></p>";

            el_modal.on('hidden.bs.modal', function (e) {
                modal_content.html('');
            });
            
            el_modal.on('shown.bs.modal', function (e) {
                modal_content.html(html);
                href_remove.attr("href", link);
            });
        
        });
    });
});
</script>

<?php $this->endblock() ?>