<?php $this->extend('layout'); ?>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="<?=url()?>"><?=_("Home")?></a></li>
                    <li class="breadcrumb-item"><a href="<?=url("list")?>"><?=_("List")?></a></li>
                    <li class="breadcrumb-item active"><?=$page?></li>
                </ol>
            </div>
            <h4 class="page-title"><?=$page?></h4>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="<?=url("save")?>" method="post">

                    <?php if($package !=null){?>
                        <input type="hidden" name="package_id" value="<?=$package["package_id"]?>">
                    <?php }?>

                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label text-right"><?=_("Description")?></label>
                        <div class="col-sm-10">
                            <input class="form-control" name="description" type="text" value="<?=$package !=null?$package["description"]:''?>" id="description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-sm-2 col-form-label text-right"><?=_("Price")?></label>
                        <div class="col-sm-10">
                            <input class="form-control" name="price" type="number" value="<?=$package !=null?$package["price"]:''?>" id="price">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><?=_("Save") ?></button>
                </form> 
            </div>
        </div>                       
    </div>
</div>